footer {
  background-color: #b8c5d1;
  margin-top: auto;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.info {
  background-color: #b8c5d1;
}

.contact {
  margin-left: 10%;
  margin-right: 10%;
}


@media (max-width:572px){
  .bottom {
    order: 2;
  }
  .top {
    order:1
  }
}