footer {
  background-color: #b8c5d1;
  margin-top: auto;
}

h2, h3, h4, h5 {
  font-family: "Playfair Display";
}

li {
  font-family: "Vidaloka Display";
}

li:hover {
  color: #7aaad7;

}

.title:hover {
  color: #7aaad7;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.banner-card {
  position: relative;
}

.banner-card img{
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  margin-top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media all and (min-width: 576px) {
	.text-light {
		font-size: 20pt;
	}
	
}

@media all and (min-width: 768px) {
	.text-light {
		font-size: 25pt;
	}
}

@media all and (min-width: 992px) {
	.text-light {
		font-size: 30pt;
	}
}

@media all and (min-width: 1100px) {
	.text-light {
		font-size: 35pt;
	}
}

.modal-header {
	background-color: #b8c5d1;
}

.info {
  background-color: #b8c5d1;
}

.contact {
  margin-left: 10%;
  margin-right: 10%;
}


@media (max-width:572px){
  .bottom {
    order: 2;
  }
  .top {
    order:1
  }
}